.nav-item.active{
    border-left: rgb(124, 123, 123) 2px solid;
}

.background-image {
    background-image: url(images/image1.jpg);
    height: 60vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.description-text {
    padding-top: 150px;
}

.color-background {
    background-color: red;
}

.color-background i {
    font-size: 30px;
}

.rounded-circle-image img {
    width: 75%;
}

.carousel{
  margin-top: 50px;
}
.carousel-inner{
  height: 50px;
}
.carousel-caption{
  color: #fff;
  top: 50%;
  position: fixed;
}

.footer {
    background-color: black;
}


@media screen and (min-width:768px) {
.rounded-circle-image img {
    width: 100%;  
}

.description-text {
    padding-top: 220px;
}
}
