.nav-item.active{
    border-left: rgb(124, 123, 123) 2px solid;
}

.background-image {
    background-image: url(images/image1.jpg);
    height: 60vh;
    width: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.description-text {
    padding-top: 150px;
}


.footer {
    background-color: black;
}

