.nav-item.active{
    border-left: rgb(124, 123, 123) 2px solid;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background-image: url(Images/image1.jpg);
    background-size: cover;
}

.carousel-image-2 {
    background-image: url(Images/image2.jpg);
    background-size: cover;
}

.carousel-image-3 {
    background-image: url(Images/image3.jpg);
    background-size: cover;
}


 .icons i {
     font-size: 30px;
 }

 .background-image-first {
     background-image: url(images/lights.jpg);
     height: 25vh;
     width: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;  
 }

 .dark {
    background-color: rgba(29, 28, 28, 0.8);
    background-size: cover;
    position: absolute;
    z-index: -1;
    height: 25vh;
    width: 100%;
    top: 0;
}

 .background-image-second {
     background-image: url(images/media.jpg);
     height: 20vh;
     width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;    
 }

 #video-play a {
    color: #fff; }

 .black-cover {
        background-color: rgba(0, 0, 0, 0.6);
        background-size: cover;
        position: absolute;
        z-index: -1;
        height: 20vh;
        width: 100%;
        top: 0;
    }

    .laptop-image img {
        width: 100%;
    }
    .video-icon {
        size: 30px;
        color: white;
    }

    .video-text {
        font-size: ;
    }

    .footer {
        background-color: black;
    }


      @media screen and (max-width:768px) {
        .laptop-image img {
            width: 320px;
            padding-top: 60px;
        }
        .text-description h4 {
            padding-top: 25px;
        }
    }

    @media screen and (max-width:360px) {
.text-description h4 {
    padding-top: 0;
}
    }
     
